body {
  background-color: #efefef;
}
.board {
  display: flex;
  flex-flow: row wrap;
  width: 24em;
}
.square {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square.dark {
  background-color: #666666;
}
.square.light {
  background-color: #cccccc;
}


.light{
  background-color: lightblue; 
}


.dark {
  background-color: blue; 
}